# Dependencies
node_modules

# Git metadata
.git
.gitignore

# Docker metadata
.dockerignore

# Build files
Dockerfile
docker-compose*.yml

# Env & secrets
.env
keys.js

# Logs
*.log

# OS files
.DS_Store